In [1]:
import torch,os
import matplotlib.pyplot as plt
import pandas as pd
print(torch.cuda.is_available())		 # 查看GPu设备是否可用
print(torch.cuda.device_count()) 		# 查看GPu设备数量
print(torch.cuda.get_device_name())   	# 查看当前GPu设备名称，默认设备id从0开始
print(torch.cuda.current_device())		# 查看当前GPu设备id

True
1
NVIDIA GeForce RTX 3070 Ti Laptop GPU
0

In [2]:
df_resale = pd.read_csv('dataset/resale_price/resale_price_train.csv')
df_resale_test = pd.read_csv('dataset/resale_price/resale_price_test.csv')

In [3]:
df_resale

,town,month,resale_price,price_diff,price_log,price_log_diff
0,ANG MO KIO,2000/2/1,218060,-8548,12.292526,-0.038451
1,ANG MO KIO,2000/3/1,225270,7210,12.325055,0.032529
2,ANG MO KIO,2000/4/1,225847,577,12.327613,0.002558
3,ANG MO KIO,2000/5/1,217008,-8839,12.287690,-0.039924
4,ANG MO KIO,2000/6/1,206930,-10078,12.240136,-0.047554
...,...,...,...,...,...,...
7018,YISHUN,2022/8/1,474783,-10903,13.070613,-0.022704
7019,YISHUN,2022/9/1,487007,12224,13.096034,0.025421
7020,YISHUN,2022/10/1,496268,9261,13.114871,0.018838
7021,YISHUN,2022/11/1,488605,-7663,13.099310,-0.015562
7022,YISHUN,2022/12/1,474910,-13695,13.070881,-0.028429

In [4]:
df_resale['resale_price'].diff()

0           NaN
1        7210.0
2         577.0
3       -8839.0
4      -10078.0
         ...
7018   -10903.0
7019    12224.0
7020     9261.0
7021    -7663.0
7022   -13695.0
Name: resale_price, Length: 7023, dtype: float64

In [4]:
df_resale.dtypes

town               object
month              object
resale_price        int64
price_diff          int64
price_log         float64
price_log_diff    float64
dtype: object

In [5]:
town_list=list(set(df_resale.town))

In [6]:
t1=df_resale[df_resale.town==town_list[0]][['month','resale_price']]
t1.rename(columns={'month': 'date','resale_price': 'resale_price_{}'.format(town_list[0])}, inplace=True)
for i in range(1,len(town_list)):
    print(i)
    t2=df_resale[df_resale.town==town_list[i]][['month','resale_price']]
    t2.rename(columns={'month': 'date','resale_price': 'resale_price_{}'.format(town_list[i])}, inplace=True)
    t1=pd.merge(t1,t2,on=['date'],how='inner')
    print(t1.shape)
t1.to_csv('dataset/resale_price/resale_price_AF_train.csv', index=False)

1
(271, 3)
2
(271, 4)
3
(271, 5)
4
(207, 6)
5
(207, 7)
6
(207, 8)
7
(207, 9)
8
(207, 10)
9
(207, 11)
10
(207, 12)
11
(207, 13)
12
(207, 14)
13
(207, 15)
14
(207, 16)
15
(207, 17)
16
(207, 18)
17
(207, 19)
18
(207, 20)
19
(207, 21)
20
(207, 22)
21
(207, 23)
22
(207, 24)
23
(206, 25)
24
(206, 26)
25
(206, 27)

In [7]:
t3=df_resale_test[df_resale_test.town==town_list[0]][['month','resale_price']]
t3.rename(columns={'month': 'date','resale_price': 'resale_price_{}'.format(town_list[0])}, inplace=True)
for i in range(1,len(town_list)):
    print(i)
    t4=df_resale_test[df_resale_test.town==town_list[i]][['month','resale_price']]
    t4.rename(columns={'month': 'date','resale_price': 'resale_price_{}'.format(town_list[i])}, inplace=True)
    t3=pd.merge(t3,t4,on=['date'],how='inner')
    print(t3.shape)
t3.to_csv('dataset/resale_price/resale_price_AF_test.csv', index=False)

1
(20, 3)
2
(20, 4)
3
(20, 5)
4
(20, 6)
5
(20, 7)
6
(20, 8)
7
(20, 9)
8
(20, 10)
9
(20, 11)
10
(20, 12)
11
(20, 13)
12
(20, 14)
13
(20, 15)
14
(20, 16)
15
(20, 17)
16
(20, 18)
17
(20, 19)
18
(20, 20)
19
(20, 21)
20
(20, 22)
21
(20, 23)
22
(20, 24)
23
(20, 25)
24
(20, 26)
25
(20, 27)

In [8]:
t3

,date,resale_price_BUKIT TIMAH,resale_price_YISHUN,resale_price_WOODLANDS,resale_price_TOA PAYOH,resale_price_PUNGGOL,resale_price_KALLANG/WHAMPOA,resale_price_CLEMENTI,resale_price_ANG MO KIO,resale_price_BUKIT BATOK,...,resale_price_SEMBAWANG,resale_price_BUKIT MERAH,resale_price_SENGKANG,resale_price_BISHAN,resale_price_TAMPINES,resale_price_BUKIT PANJANG,resale_price_JURONG EAST,resale_price_CENTRAL AREA,resale_price_SERANGOON,resale_price_GEYLANG
0,2023-01-01,764500.0,487890.0,526208.0,590555.0,577844.0,609398.0,619068.0,555067.0,591361.0,...,531895.0,691561.0,565175.0,733738.0,578339.0,544735.0,487435.0,684938.0,577653.0,462270.0
1,2023-02-01,681444.0,476612.0,535434.0,586667.0,567776.0,623599.0,534908.0,499251.0,549451.0,...,538049.0,644361.0,572126.0,721949.0,558112.0,527748.0,526863.0,639827.0,637471.0,494795.0
2,2023-03-01,744500.0,487809.0,518502.0,605224.0,566733.0,595083.0,612836.0,526176.0,597392.0,...,528615.0,687412.0,593450.0,765909.0,586078.0,534628.0,486576.0,723095.0,609545.0,497145.0
3,2023-04-01,674500.0,504148.0,525821.0,626549.0,581339.0,610575.0,614584.0,548609.0,575137.0,...,531508.0,681846.0,591855.0,798451.0,597799.0,550739.0,531933.0,810369.0,578930.0,549672.0
4,2023-05-01,742778.0,495702.0,527481.0,536088.0,588559.0,662601.0,563880.0,522410.0,571322.0,...,541841.0,715717.0,590489.0,723078.0,608039.0,560994.0,467450.0,755500.0,544829.0,608359.0
5,2023-06-01,707500.0,481990.0,540138.0,567839.0,606166.0,613480.0,625090.0,528614.0,584253.0,...,551101.0,705792.0,577234.0,762799.0,593506.0,544777.0,528898.0,693950.0,588327.0,561788.0
6,2023-07-01,1016000.0,504181.0,542724.0,570281.0,597012.0,694121.0,606988.0,490503.0,576065.0,...,526941.0,731604.0,582832.0,782902.0,588831.0,554147.0,553506.0,598059.0,648667.0,554689.0
7,2023-08-01,957000.0,506387.0,549449.0,573201.0,599304.0,603731.0,618386.0,538853.0,559581.0,...,531996.0,705329.0,587797.0,805934.0,593261.0,574310.0,553176.0,828894.0,589028.0,542217.0
8,2023-09-01,987167.0,507901.0,529175.0,625963.0,603519.0,604874.0,611374.0,553763.0,559929.0,...,536207.0,686020.0,592094.0,859096.0,593546.0,547251.0,478218.0,705841.0,648729.0,572800.0
9,2023-10-01,796661.0,496871.0,545257.0,516900.0,609655.0,590011.0,657424.0,569199.0,579383.0,...,552036.0,716329.0,583255.0,783820.0,610457.0,565107.0,531152.0,692889.0,620461.0,549726.0
10,2023-11-01,662500.0,521302.0,551801.0,620782.0,604400.0,678909.0,574633.0,529972.0,580153.0,...,560036.0,706640.0,600241.0,761799.0,604127.0,568973.0,498240.0,580488.0,637905.0,533721.0
11,2023-12-01,1193333.0,519709.0,560403.0,616371.0,608374.0,639698.0,564940.0,551137.0,540606.0,...,563250.0,711261.0,604590.0,796833.0,612723.0,565772.0,524778.0,727135.0,595168.0,505376.0
12,2024-01-01,993000.0,526286.0,556710.0,616101.0,628717.0,693664.0,584635.0,550045.0,565365.0,...,544875.0,755252.0,604071.0,943860.0,627114.0,567172.0,515827.0,612455.0,676767.0,553767.0
13,2024-02-01,933481.0,526559.0,565481.0,611072.0,632119.0,628706.0,655814.0,539147.0,566078.0,...,544689.0,713427.0,598481.0,766040.0,633928.0,589941.0,492887.0,610157.0,684659.0,507569.0
14,2024-03-01,665000.0,539120.0,557275.0,616173.0,621594.0,679941.0,632830.0,529061.0,554056.0,...,578516.0,697400.0,617284.0,791702.0,640481.0,595652.0,510062.0,676599.0,634502.0,529672.0
15,2024-04-01,925500.0,517357.0,581861.0,629860.0,621813.0,704066.0,611859.0,588691.0,562402.0,...,554493.0,698116.0,613131.0,775430.0,646321.0,585980.0,508876.0,603305.0,643269.0,496342.0
16,2024-05-01,812500.0,529257.0,567765.0,668308.0,632900.0,653923.0,566990.0,531004.0,569320.0,...,576114.0,709208.0,623277.0,769407.0,640232.0,585596.0,496834.0,830979.0,629434.0,645683.0
17,2024-06-01,883560.0,531588.0,591260.0,670323.0,643975.0,734389.0,604163.0,561968.0,565255.0,...,581960.0,751879.0,634059.0,911233.0,655906.0,618949.0,519340.0,714626.0,738020.0,638276.0
18,2024-07-01,866111.0,545908.0,580398.0,686515.0,643319.0,694057.0,606783.0,554017.0,584898.0,...,577955.0,753238.0,635028.0,793299.0,641864.0,578657.0,535778.0,680394.0,668401.0,632964.0
19,2024-08-01,930270.0,553968.0,588866.0,610781.0,650776.0,706950.0,611300.0,604267.0,576275.0,...,584619.0,722101.0,646603.0,832038.0,651362.0,622566.0,534599.0,825333.0,641083.0,648595.0